*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: row;
    color: #1E398F;
    overflow: hidden;
}

.back_arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 12px;
    top: 7px;
    padding-top: 3px;
    background: url(../images/back.svg ) no-repeat #1E398F;
    background-position: center;
    border: 1px solid #1E398F;
    border-radius: 100%;
    transition: 0.6s;
}


.back_arrow:hover {
    border: 1px solid #CEDAFF;
    background: url(../images/back_hover.svg) no-repeat #CEDAFF;
    background-position: center;
    transition: 0.6s;
}

header {
    width: 151px;
    height: 1023.75px;
    background-color: #1E398F;
    border-radius: 24px;
    margin: 27.6px 0 28.65px 76px;
    padding: 30px;
}

.logo {
    margin: 44.4px auto;
}

.logo_menu {
    width: 63px;
    height: 22px;
    margin-left: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 77.8%;
    text-align: justify;
    color: #D3E5FF;
}

nav {

    margin: 79.17px 30px 337.8px;

}

.place {
    margin: 7px;
}

header ul {
    display: flex;
    flex-direction: column;
    gap: 75px;
    list-style-type: none;
}

.logout {
    margin: 18px 22px;
}



.next_page {
    position: absolute;
    top: 1000px;
    left: 1690px;
    width: 197.81px;
    height: 59.34px;
    background: #1E398F;
    border-radius: 8px;
    border: #1E398F;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    transition: 0.6s;
}

.next_page:hover {
    background: #000;
    color: #fff;
    transition: 0.6s;
}

[data-tooltip-2]::after {
    width: 120px;
    height: 40px;
    content: attr(data-tooltip-2);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 310px;
    left: 96px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}


[data-tooltip-1]::after {
    width: 110px;
    height: 40px;
    content: attr(data-tooltip-1);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 200px;
    left: 100px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}


[data-tooltip-3]::after {
    width: 110px;
    height: 40px;
    content: attr(data-tooltip-3);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 422px;
    left: 100px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}

[data-tooltip-4]::after {
    width: 125px;
    height: 30px;
    content: attr(data-tooltip-4);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 535px;
    left: 89px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}



[data-tooltip-5]::after {
    width: 125px;
    height: 40px;
    content: attr(data-tooltip-5);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 900px;
    left: 91px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}

[data-tooltip-1]:hover::after,
[data-tooltip-2]:hover::after,
[data-tooltip-3]:hover::after,
[data-tooltip-4]:hover::after,
[data-tooltip-5]:hover::after {
    opacity: 1;
}

/* main */
/* digit */
.digit {
    width: 854px;
    height: 945px;
    margin: 68px 22px 67px 28px;
}

.definition {
    width: 852px;
    height: 178px;
    background: #F5F5F7;
    border-radius: 14px;
    padding: 21px 48px 32px 19px;
    margin-bottom: 16px;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: justify;
    margin-bottom: 30px;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
}

.manipulation {
    width: 853px;
    height: 176px;
    background: #F5F5F7;
    border-radius: 14px;
    padding: 27px 48px 20px 20px;
    margin-bottom: 21px;
}

.types_1 {
    width: 785px;
    height: 260px;
    margin-left: 20px;
}

.types_1 p {
    margin-bottom: 30px;
}

.types_1 li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    margin-left: 20px;

}

.end_1 {
    display: flex;
    flex-direction: row;
    margin-top: 29px;
}

.column_text {
    width: 442px;
    margin-left: 30px;
}

.a_1 {
    width: 378px;
    height: 84px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.a_2 {
    width: 442px;
    height: 163px;
    padding: 40px 37px;
    background: #F5F5F7;
    border-radius: 14px;
}

/* impulse */
.impulse {
    width: 782px;
    height: 941px;
    margin: 69px 8px 70px 0;
}